@{
    ViewData["Title"] = "Singapore Bagus";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @ViewData["Title"]</h1>
    <article>Bringing out the best of Singapore in Food and Places of Interest!</article>
</div>
