@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<article>
  <p>Your privacy is important to us. The purpose of this Privacy Policy is to inform you of how Singapore Bagus manages personal data in accordance with the Personal Data Protection Act 2012 (“the Act”). Please take a moment to read this Privacy Policy so that you know and understand the purposes for which we collect, use and disclose your Personal Data.</p>
  <p>By interacting with us, submitting information to us or signing up for any promotions or services offered by us, you agree and consent to Singapore Bagus, its related corporations and affiliates, (collectively referred to herein as "SB", "us", "we" or "our"), as well as our respective representatives collecting, using, disclosing and sharing amongst themselves your Personal Data in the manner set forth in this Privacy Policy.</p>
</article>
